@import '../../node_modules/prismjs/themes/prism.css';
@import '../../node_modules/@angular/cdk/a11y-prebuilt.css';
@import '../../node_modules/@angular/cdk/overlay-prebuilt.css';

@layer reset, tw-utilities;

@layer reset {
  @tailwind base;
}

@layer tw-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --fs-xs: clamp(0.83rem, -0.05vi + 0.84rem, 0.78rem);
  --fs-sm: clamp(0.91rem, 0.03vi + 0.9rem, 0.94rem);
  --fs-base: clamp(1rem, 0.13vi + 0.97rem, 1.13rem);
  --fs-md: clamp(1.1rem, 0.26vi + 1.03rem, 1.35rem);
  --fs-lg: clamp(1.21rem, 0.43vi + 1.1rem, 1.62rem);
  --fs-xl: clamp(1.33rem, 0.65vi + 1.17rem, 1.94rem);
  --fs-2xl: clamp(1.46rem, 0.91vi + 1.24rem, 2.33rem);
  --fs-3xl: clamp(1.61rem, 1.25vi + 1.3rem, 2.8rem);
  --fs-4xl: clamp(1.77rem, 1.67vi + 1.35rem, 3.36rem);
  --fs-5xl: clamp(1.95rem, 2.19vi + 1.4rem, 4.03rem);
  --fs-6xl: clamp(2.14rem, 2.84vi + 1.43rem, 4.84rem);
  --fs-7xl: clamp(2.36rem, 3.63vi + 1.45rem, 5.8rem);
  --fs-8xl: clamp(2.59rem, 4.58vi + 1.46rem, 6.94rem);
}

:root {
  --font-sans: '';
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    color: hsl(var(--foreground));
  }
}
