@import '../../node_modules/prismjs/themes/prism.css';

@layer reset, tw-utilities;

@layer reset {
  @tailwind base;
}

@layer tw-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --fs-xs: clamp(0.83rem, -0.05vi + 0.84rem, 0.78rem);
  --fs-sm: clamp(0.91rem, 0.03vi + 0.9rem, 0.94rem);
  --fs-base: clamp(1rem, 0.13vi + 0.97rem, 1.13rem);
  --fs-md: clamp(1.1rem, 0.26vi + 1.03rem, 1.35rem);
  --fs-lg: clamp(1.21rem, 0.43vi + 1.1rem, 1.62rem);
  --fs-xl: clamp(1.33rem, 0.65vi + 1.17rem, 1.94rem);
  --fs-2xl: clamp(1.46rem, 0.91vi + 1.24rem, 2.33rem);
  --fs-3xl: clamp(1.61rem, 1.25vi + 1.3rem, 2.8rem);
  --fs-4xl: clamp(1.77rem, 1.67vi + 1.35rem, 3.36rem);
  --fs-5xl: clamp(1.95rem, 2.19vi + 1.4rem, 4.03rem);
  --fs-6xl: clamp(2.14rem, 2.84vi + 1.43rem, 4.84rem);
  --fs-7xl: clamp(2.36rem, 3.63vi + 1.45rem, 5.8rem);
}
