<app-tile class="lg:row-span-2">
  <ac-about-me />
</app-tile>

<app-tile class="bg-gradient-to-br from-emerald-100 to-emerald-500 text-right">
  <ac-availability />
</app-tile>

<app-tile>
  <ac-find-me />
</app-tile>

<app-tile class="relative row-span-3 overflow-hidden p-0">
  <ac-github-activity />
</app-tile>

<app-tile>
  <div class="grid h-full w-full place-content-center">
    <a
      class="text-primary cursor-pointer text-center text-xl font-normal tracking-tight underline underline-offset-8 transition-all hover:scale-110 lg:text-8xl dark:text-white"
      style="text-decoration-thickness: 0.25rem"
      [routerLink]="'/blog'"
    >
      Open blog
    </a>
  </div>
</app-tile>

<!-- @for (post of posts; track post.attributes.title) {
  <app-tile>
    <div class="w-full">
      <p class="text-primary text-xl font-normal tracking-tight lg:text-8xl dark:text-white">
        {{ post.attributes.title }}
      </p>
    </div>
  </app-tile>
} -->
